@import '../../../../../styles/Properties';
@import '../../../../../styles/Colors';

.root {
  .section {
    width: 100%;
    max-width: $width-small;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;

    .header-sm {
      font-size: $font-title3-size;
      line-height: $font-title3-line-height;
      margin: 0.25em 0;
    }

    .header-md {
      font-size: $font-title2-size;
      line-height: $font-title2-line-height;
      margin: 0.25em 0;
    }

    .header-lg {
      font-size: $font-title1-size;
      line-height: $font-title1-line-height;
      margin: 0.25em 0;
    }
  }
}
