@import '../../../styles/Properties';
@import '../../../styles/Colors';

.root {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var($primary-text-color, #000);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background: white;
  box-sizing: border-box;
  margin: auto;
  padding: 8px 16px;
  z-index: 6;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .branding {
    font-size: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: left;
    flex: 1;

    a {
      display: block;
      padding: 0.5em 0;
    }

    .title {
      margin: 0;
      font-size: var($font-title2-size);
    }
  }

  .nav {
    flex: 1;

    @include breakpoint-below-small {
      display: none;
    }

    .navItems {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0;
      margin: 0;

      .navItem {
        display: flex;
        white-space: nowrap;
        align-items: stretch;
        padding: 0 !important;
        line-height: calc(#{$font-base-line-height} * 1.5rem);

        a {
          display: block;
          position: relative;
          padding: 0 0.75rem;
        }
      }
    }
  }

  .cartIcon {
    cursor: pointer;
    text-decoration: none;

    @include breakpoint-above-small {
      display: none;
    }
  }

  .cartButton {
    cursor: pointer;

    @include breakpoint-below-small {
      display: none;
    }
  }
}
