@import '../../../styles/Properties';

.root {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  background: transparent;
  pointer-events: auto;
  margin: 0 16px 0 0;
  padding: 0;

  @include breakpoint-above-small {
    display: none;
  }
}
