@import '../../../../../../styles/Properties';
@import '../../../../../../styles/Colors';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px 3px 3px;
  padding: 8px;
  border: 1px solid #000;
  cursor: default;
  background: white;
  box-shadow: 3px 4px 2px 0 rgba(0, 0, 255, 0.2);

  .skillImage {
    width: 26px;
    height: 22px;
    margin-right: 4px;
    background-size: contain;
    background: no-repeat center;
  }

  .skillText {
    margin: 0;
    font-size: $font-small-size;
    line-height: $font-small-line-height;
  }
}
