@import '../../../../../styles/Properties';
@import '../../../../../styles/Colors';

.root {
  padding-bottom: 2rem;
  margin-top: -1.5rem;

  .section {
    width: 100%;
    max-width: $width-small;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;

    .heading {
      font-size: $font-title4-size;
      line-height: $font-title4-line-height;
      margin: 0.25em 0;
      text-align: center;
    }

    .skillsList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
