@import '../../../../../styles/Properties';
@import '../../../../../styles/Colors';

.root {
  padding-bottom: 2rem;

  .section {
    width: 100%;
    max-width: $width-small;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    .link {
      margin: 0 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        color: inherit;
        fill: currentColor;
      }
    }
  }
}
