@import '../../../../styles/Properties';
@import '../../../../styles/Colors';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 8px;
}
