@import '../../../../../styles/Properties';
@import '../../../../../styles/Colors';

.root {
  position: relative;
  padding: 2rem 0;

  .content {
    position: relative;
    margin: 0 1.5rem;
    max-width: $width-medium;

    .image {
      display: block;
      width: 100%;
    }

    .caption {
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;

      .captionBox {
        background-color: $primary-bg-color;
        border: 1px solid $dark-text-color;
        padding: 1.5rem;

        .label {
          font-size: $font-micro-size;
          line-height: $font-micro-line-height;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          margin-top: 1em;
        }

        .label + .title {
          margin-top: 0.2em;
        }

        .title {
          font-size: $font-title3-size;
          line-height: $font-title3-line-height;
        }
      }
    }
  }
}
